out/
build/
target/
bin/
*.class

*.jar
*.war
*.ear
*.nar

hs_err_pid*
replay_pid*

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

*.log
*.tmp
*.swp
*~

.env
.env.local
*.local
